<li><a href="/" class="link-kumya "><span data-letters="Home">Home</span></a></li>
								
							<li><a href="/add_branch" class="link-kumya"><span data-letters="Add Branch">Add Branch</span></a></li>
								<li><a href="/add_service" class="link-kumya"><span data-letters="Service">Service</span></a></li>
								<li><a href="/customer_view" class="link-kumya"><span data-letters="View Customer">View Customer</span></a></li>
								<li><a href="/admin_view_status" class="link-kumya"><span data-letters="View Booking">View Booking</span></a></li>
								<li><a href="/" class="link-kumya"><span data-letters="Logout">Logout</span></a></li>