<li><a href="/customer_home" class="link-kumya "><span data-letters="Home">Home</span></a></li>
								
							<li><a href="/branch" class="link-kumya"><span data-letters="Branch Booking">Branch Booking</span></a></li>
								<li><a href="/booking_status" class="link-kumya"><span data-letters="Booking Status">Booking Status</span></a></li>
                               <li><a href="/accepted" class="link-kumya"><span data-letters="Accpeted">Accpeted</span></a></li>
								<li><a href="/" class="link-kumya"><span data-letters="Logout">Logout</span></a></li>